/* advertList.css */
.modal-footer button{
    width: 100%;
}
.modal-footer{
    justify-content: center !important;
}
.triangle {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.triangle-1 {
    width: 25px;
    height: 12px;
    border-bottom: solid 0px rgb(0 191 0);
    border-right: solid 15px rgb(0 191 0);
    border-left: solid 10px transparent;
    border-top: solid 33px transparent;
}

.triangle-0 {
    width: 25px;
    height: 15px;
    border-top: solid 0px rgb(113 138 165);
    border-left: solid 14px rgb(0 123 255);
    border-right: solid 7px transparent;
    border-bottom: solid 33px transparent;
}

.btnn2,
.btnn {
    margin: 0;
    border: none;
    /* border-radius: 0; */
}

.btnn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btnn2 {
    background-color: rgb(0 191 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


.btnn:hover,
.btnn:active,.btnn:focus ,.btnn{
    background-color: #007bff !important;
    border: none !important;
    box-shadow: none;
    outline: none;
}

.btnn2:hover,
.btnn2:active,.btnn2:focus {
    background-color: rgb(0 191 0) !important;
    border: none !important;
    box-shadow: none;
}
.tri button{
    width: 100px;
}
.btnn2:hover,
.btnn2:active {
    background-color: rgb(0 191 0) !important;
    border: none !important;
}