<div class="wrapper">
    <div class="container-fluid dashboard-content">
       
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title ">Inventory</h2>

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb ">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/category">Inventory</a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">Add
                                                        product</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                
                            </div>



                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">

                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-md-4 text-bold">Category</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <select name="" class="form-control form-select" >
                                            <option value="SERVICE">Service</option>
                                            <option value="MATRIAL">Material</option>

                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-md-4 text-bold">Unit</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <select name="" class="form-control form-select" >
                                            <option value="">No.</option>
                                           

                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Item</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <input type="text" name="" class="form-control" placeholder="Item" >
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Stock</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <input type="text" name="" class="form-control" placeholder="Stock" >
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Brand</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5 ">
                                        <input type="text" name="" class="form-control" placeholder="Brand"
                                            >
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Reorder Level</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5 ">
                                        <input type="text" name="" class="form-control" placeholder="Reorder Level" >
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Size</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <input type="text" name="" class="form-control"
                                            placeholder="Size" >
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Price</label>
                                    <span class="d-sm-none d-xsm-none d-md-block " style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <input type="text" name="" class="form-control" placeholder="Price" >
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">

                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Colour</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <input type="password" name="" class="form-control" placeholder="Colour" >
                                       
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row  mt-1">
                                    <label class="col-md-4 text-bold">Discount</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <input type="text" name="" class="form-control" placeholder="Discount" >
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row  mt-1">
                                    <label class="col-md-4 text-bold">Upload Image</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <input type="file" name="" class="form-control"  >
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row  mt-1">
                                    <label class="col-md-4 text-bold">Status</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                    </label>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row  mt-1">
                                    <label class="col-md-4 text-bold">Metakey</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <input type="text" name="" class="form-control" placeholder="Metakey" >
                                    </span>
                                    <span class="col-md-2 ">
                                        <button class="btn btn-info">Add</button>
                                    </span>
                                </div>
                            </div>





                        </div>

                        <div class="text-center mt-5 mb40">

                            <button class="btn btn-large  max-WT-150 ml-1 btn-secondary" routerLink="/category">Back</button>


                        </div>

                    </div>
                </div>

            </div>

        </div>
       
    </div>
</div>