<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">dashboard</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">dashboard</a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">View Order</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- <div class="col-3 d-flex justify-content-end">

                                    <button class="btn btn-primary btn-export"><i class="fa fa-download"
                                            aria-hidden="true"></i> &nbsp; Export</button>

                                </div> -->
                            </div>



                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">

                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <!-- <div class="row">
                                    <label class="col-md-4 text-bold">Order</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                   
                                    <span class="col-md-5"> -->
                                <!-- <select name="" class="form-control form-select" >
                                            <option value="">Electrical</option>
                                        </select> -->
                                <!-- <p>{{listArray?.categoryId?.categoryName}}</p> -->
                                <!-- </span> -->
                                <!-- </div> -->
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-md-4 text-bold">Unit</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <!-- <select name="" class="form-control form-select" >
                                            <option value="">No.</option>
                                            <option value="">Yes</option>

                                        </select> -->
                                        <p>{{listArray?.unit}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Item</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <!-- <input type="text" name="" class="form-control" placeholder="Item" > -->
                                        <p>{{listArray?.item}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Stock</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <!-- <input type="text" name="" class="form-control" placeholder="Stock" > -->
                                        <p>{{listArray?.stock}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Brand</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5 ">
                                        <!-- <input type="text" name="" class="form-control" placeholder="Brand" > -->
                                        <p>{{listArray?.brand}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Reorder Level</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5 ">
                                        <!-- <input type="text" name="" class="form-control" placeholder="Reorder Level" > -->
                                        <p>{{listArray?.brand}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Size</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <!-- <input type="text" name="" class="form-control" placeholder="Size" > -->
                                        <p>{{listArray?.size || "--"}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Price</label>
                                    <span class="d-sm-none d-xsm-none d-md-block " style="width: 10px;">:</span>
                                    <span class="col-md-5">
                                        <!-- <input type="text" name="" class="form-control" placeholder="Price" > -->
                                        <p>{{listArray?.price || "--"}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">

                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Colour</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <!-- <input type="password" name="" class="form-control" placeholder="Colour" > -->
                                        <p>{{listArray?.color || "--"}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row  mt-1">
                                    <label class="col-md-4 text-bold">Discount</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                        <!-- <input type="text" name="" class="form-control" placeholder="Discount" > -->
                                        <p>{{listArray?.discount || "--"}}</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5 mb40">
                            <button class="btn btn-large  max-WT-150 ml-1 btn-secondary" routerLink="/dashboard">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
</div>