<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title ">Advert Management</h2>

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb ">
                                                <li class="breadcrumb-item"><em class="fa fa-home"></em></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/advert">Advert Management</a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">Add
                                                        advert</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">

                <div class="card">

                    <div class="card-body">
                        <form [formGroup]="advertForm">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-4 text-bold">Description</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                        <span class="col-md-5">
                                            <textarea class="form-control form-control_custom" name="" cols="30"
                                                rows="5" formControlName="description"
                                                style="max-height: 10em;min-height: 10em;" maxlength="256"></textarea>
                                            <div class="text-danger"
                                                *ngIf="advertForm.get('description').invalid && (advertForm.get('description').dirty || advertForm.get('description').touched)">
                                                <span *ngIf="advertForm.get('description').hasError('required')">*Please
                                                    enter description.</span>
                                    </div>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Runtime</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                    <span class="col-md-5">
                                            <!-- <select name="" class="form-control form-control_custom form-select"
                                                formControlName="runtime" value="Run time in second"
                                                placeholder="Run time in second">
                                                <option value="" disabled>Run time in second</option>
                                                <option value="30">30 Seconds</option>
                                                <option value="45">45 Seconds</option>
                                                <option value="60">60 Seconds</option>
                                                <option value="75">75 Seconds</option>
                                                <option value="120">120 Seconds</option>
                                                <option value="240">240 Seconds</option>
                                            </select> -->
                                            <input type="text"  class="form-control form-control_custom form-select"
                                            formControlName="runtime" placeholder="Run time in second" (keypress)="commonService.numberOnly($event)" >
                                            <div class="text-danger"
                                            *ngIf="advertForm.get('runtime').invalid && (advertForm.get('runtime').dirty || advertForm.get('runtime').touched)">
                                            <span *ngIf="advertForm.get('runtime').hasError('required')">*Please
                                                enter runtime.</span>
                                </div>
                                </span>
                            </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row  mt-1">
                            <label class="col-md-4 text-bold">Upload Image</label>
                            <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                            <span class="col-md-5">
                                            <span style="display: flex;align-items: center;">
                                            <input type="file" name="" class="form-control form-control_custom mr-2"
                                                (change)="uploadImg($event)" formControlName="document">
                                                <i  class="fa fa-question-circle" aria-hidden="true" alt=""
                                                data-toggle="tooltip"  data-placement="top"
                                                title="Note :Image dimension should be within 200px*200px"></i>
                                            </span>
                            <div class="text-danger" *ngIf="advertForm.get('document').invalid && (advertForm.get('document').dirty || advertForm.get('document').touched)">
                                <span *ngIf="advertForm.get('document').hasError('required')">*Please
                                                    upload image.</span>
                            </div>
                            </span>
                        </div>
                        <div class="col-md-12 text-center mt-2">
                            <img [src]="croppedImage" alt="" style="max-width: 150px;">
                        </div>
                    </div>
                </div>
                </form>
                <div class="text-center mt-5 mb40">

                    <button class="btn btn-large  max-WT-150 ml-1 btn-primary" [disabled]="advertForm.invalid" (click)="addAdvert()">Submit</button>


                </div>

            </div>
        </div>

    </div>

</div>

</div>
</div>

<div class="modal fade blur-background" id="resizeImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Resize Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="3/2" [resizeToWidth]="200" [cropperMinWidth]="200" format="png" (imageCropped)="imageCropped($event)" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>

            <div class="modal-footer justify-content-center" style="padding: 5px;">
                <div style="position: relative; left: 19px;" class="tri">
                    <button type="button" class=" btn btn-primary btnn" data-dismiss="modal">Confirm</button>
                    <div class="triangle triangle-0"></div>
                </div>
                <div style="position: relative; right: 23px;" class="tri">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-triangle" data-dismiss="modal" (click)="reset()">Close</button></div>
            </div>
        </div>
    </div>
</div>