<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Discounts</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/discount">Discounts
                                                    </a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">Add Discount</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">

                <div class="card">

                    <div class="card-body">
                        <form [formGroup]="discountForm">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row">
                                        <label class="col-md-4 text-bold">Name</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                        <span class="col-md-5">
                                            <input type="text" name="" class="form-control form-control_custom"
                                                placeholder="Discount Name" maxlength="32" formControlName="name">
                                            <div class="text-danger"
                                                *ngIf="discountForm.get('name').invalid && (discountForm.get('name').dirty || discountForm.get('name').touched)">
                                                <span *ngIf="discountForm.get('name').hasError('required')">*Please
                                                    enter discount name.</span>
                                    </div>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row">

                                </div>
                            </div> -->
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-4 text-bold">Start Date</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                            <input type="date" name="" class="form-control form-control_custom"
                                                [min]="commonService.todayDate()" placeholder="dd/mm/yyyy"
                                                formControlName="startDate">
                                            <div class="text-danger"
                                                *ngIf="discountForm.get('startDate').invalid && (discountForm.get('startDate').dirty || discountForm.get('startDate').touched)">
                                                <span *ngIf="discountForm.get('startDate').hasError('required')">*Please
                                                    enter the start date.</span>
                                </div>
                                </span>
                            </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row mt-1">
                            <label class="col-md-4 text-bold">End Date</label>
                            <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                            <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                            <span class="col-md-5">
                                            <input type="date" name="" [readonly]="!discountForm.value.startDate"
                                                class="form-control form-control_custom"
                                                [min]="discountForm.value.startDate" placeholder="dd/mm/yyyy"
                                                formControlName="endDate">
                                            <div class="text-danger"
                                                *ngIf="discountForm.get('endDate').invalid && (discountForm.get('endDate').dirty || discountForm.get('endDate').touched)">
                                                <span *ngIf="discountForm.get('endDate').hasError('required')">*Please
                                                    enter the end date.</span>
                        </div>
                        </span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="row mt-1">
                        <label class="col-md-4 text-bold">Service</label>
                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                        <span class="col-md-5">
                                            <!-- <select name="" class="form-control form-control_custom form-select" formControlName="service"
                                                >
                                                <option value="Electrical">Electrical</option>
                                                <option value="Plumbing">Plumbing</option>
                                            </select> -->
                                            <app-multi-select-dropdown [list]="serviceArray"
                                            (shareIndividualCheckedList)="shareIndividualCheckedListService($event)"
                                            (shareCheckUncheckAll)="shareCheckUncheckAllService($event)"
                                            (checkUnCheckAllSubMenu)="checkUnCheckAllSubMenuService($event)">
                                        </app-multi-select-dropdown>

                                            <!-- <ng-multiselect-dropdown *ngIf="serviceList.length > 0"
                                                [placeholder]="'Select Service'" formControlName="service"
                                                [settings]="dropdownSettings" [data]="serviceList"
                                                (onSelect)="onServiceSelect($event)"
                                                (onSelectAll)="onServiceSelectAll($event)"
                                                (onDeSelect)="onServiceDeSelect($event)"
                                                (onDropDownClose)="onDropDownClose()">
                                            </ng-multiselect-dropdown> -->
                                            <!-- <app-multi-select-dropdown [list]="serviceList"
                                            (shareCheckedList)="shareCheckedList($event)"
                                            (shareIndividualCheckedList)="shareIndividualCheckedList($event)"
                                            (shareCheckUncheckAll)="shareCheckUncheckAll($event)"> -->
                                            <!-- </app-multi-select-dropdown> -->
                                            <!-- <div class="text-danger"
                                                *ngIf="discountForm.get('service').invalid && (discountForm.get('service').dirty || discountForm.get('service').touched)">
                                                <span *ngIf="discountForm.get('service').hasError('required')">*Please
                                                    enter the service.</span>
                    </div> -->
                    </span>
                    <!-- <span class="col-md-2 ">
                                            <button class="btn btn-info">Add</button>
                                        </span> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="row mt-1">
                    <label class="col-md-4 text-bold">Material</label>
                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                    <span class="col-md-5">
                                            <!-- <select name="" class="form-control form-control_custom form-select" formControlName="material" >
                                            <option value="">Electrical</option>
                                            <option value="">Plumbing</option>
                                        </select> -->
                                        <app-multi-select-dropdown [list]="materialArray"
                                        (shareIndividualCheckedList)="shareIndividualCheckedListProduct($event)"
                                        (shareCheckUncheckAll)="shareCheckUncheckAllProduct($event)"
                                        (checkUnCheckAllSubMenu)="checkUnCheckAllSubMenuProduct($event)">
                                    </app-multi-select-dropdown>
                                            <!-- <ng-multiselect-dropdown [placeholder]="'Select Material'"
                                                formControlName="material" [settings]="materialDropDownSetting"
                                                [data]="materialList" (onSelect)="onMaterialSelect($event)"
                                                (onSelectAll)="onSelectAllMaterial($event)">
                                            </ng-multiselect-dropdown>
                                            <div class="text-danger"
                                                *ngIf="discountForm.get('material').invalid && (discountForm.get('material').dirty || discountForm.get('material').touched)">
                                                <span *ngIf="discountForm.get('material').hasError('required')">*Please
                                                    enter the material.</span>
                </div> -->
                </span>
                <!-- <span class="col-md-2 ">
                                            <button class="btn btn-info">Add</button>
                                        </span> -->
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="row mt-1">
                <label class="col-md-4 text-bold">Discount Type</label>
                <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                <span class="col-md-4">

                                            <ul class="nav nav_custom" id="myTab" role="tablist">
                                                <li class="" role="presentation">
                                                    <p class="" data-toggle="tab" role="tab" aria-selected="true"
                                                        (click)="selectType('FLAT')">Flat</p>
                                                </li>
                                                <li class="" role="presentation">
                                                    <p class="" data-toggle="tab" role="tab" aria-selected="false"
                                                        (click)="selectType('PERCENTAGE')">Rate</p>
                                                </li>
                                            </ul>

                                        </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="row mt-1">
                <label class="col-md-4 text-bold">Amount</label>
                <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                <span class="col-md-5">
                                            <!-- [maxlength]="*ngIf='discountType=='PERCENTAGE'?'2'':'16' " -->
                                            <input type="text" class="form-control form-control_custom"
                                                [maxlength]="discountType=='PERCENTAGE'?2:16 "
                                                [placeholder]="discountType=='PERCENTAGE'?'Discount%' :'Discount'"
                                                formControlName="discount"
                                                (keypress)="commonService.numberOnly($event)">
                                            <div class="text-danger"
                                                *ngIf="discountForm.get('discount').invalid && (discountForm.get('discount').dirty || discountForm.get('discount').touched)">
                                                <span *ngIf="discountForm.get('discount').hasError('required')">*Please
                                                    enter the discount.</span>
            </div>
            </span>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row mt-1">
            <label class="col-md-4 text-bold">Status</label>
            <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
            <span class="col-md-5">
                                            <label class="switch">
                                                <input type="checkbox" formControlName="status">
                                                <span class="slider round"></span>
            </label>
            </span>
        </div>
    </div>



</div>
</form>
<div class="text-center mt-5 mb40">

    <button class="btn btn-large  max-WT-150 ml-1 btn-primary" (click)="addDiscount()" [disabled]="discountForm.invalid">Submit</button>
    <!-- <button class="btn btn-large  max-WT-150 ml-1 btn-primary"
                                (click)="addDiscount()">Submit</button> -->

</div>

</div>
</div>

</div>

</div>
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->
</div>
</div>