<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title top-head-data-detail">Add Slider Image</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb top-head-data-detail">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">Slider</a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">Edit Slider
                                                        Image</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- <div class="col-3 d-flex justify-content-end">

                                    <button class="btn btn-primary btn-export"><i class="fa fa-download"
                                            aria-hidden="true"></i> &nbsp; Export</button>

                                </div> -->
                            </div>



                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">

                <div class="card">

                    <div class="card-body">
                        <form action="" [formGroup]="bannerForm">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-4 text-bold">Slider Number</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                        <span class="col-md-5">
                                       <input type="number" step="1" name="" class="form-control form-control_custom"  placeholder="Slider Title" formControlName="sliderNumber">
                                    </span>
                                    </div>
                                </div>
                                <!-- banner name -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-4 text-bold">Slider Title</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                        <span class="col-md-5">
                                            <input type="text" name="" class="form-control form-control_custom"
                                                placeholder="Slider Title" formControlName="sliderTitle">
                                        </span>
                                    </div>
                                </div>
                                <!-- upload image -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-4 text-bold">Slider Description</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                        <span class="col-md-5">
                                            <textarea class="form-control form-control_custom"  placeholder="Slider Description" formControlName="sliderDescription"></textarea>
                                       
                                    </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row  mt-1">
                                        <label class="col-md-4 text-bold">Upload Image</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>

                                        <span class="col-md-5">
                                            <span style="display: flex;align-items: center;">
                                            <input type="file" name="" class="form-control form-control_custom mr-2"
                                                (change)="uploadImg($event)">
                                                <i class="fa fa-question-circle" aria-hidden="true" alt=""
                                                data-toggle="tooltip" data-placement="top"
                                                title="Note :Image dimension should be within 200px*200px"></i>  
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-10 text-center mt-2">
                                    <img [src]="productImage" alt="" style="max-width: 150px;">
                                </div>
                            </div>

                            <div class="text-center mt-5 mb40">
                                <button class="btn btn-large  max-WT-250 mr-1 btn-secondary" routerLink="/setting/slider-image">Back</button>

                                <button class="btn btn-large  max-WT-150 ml-1 btn-primary" (click)="addSliderImage()" [disabled]="bannerForm.invalid">Update</button>


                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
</div>

<div class="modal fade blur-background" id="resizeImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Resize Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="13/28" [resizeToWidth]="200" [cropperMinWidth]="200" format="png" (imageCropped)="imageCropped($event)" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>

            <div class="modal-footer justify-content-center" style="padding: 5px;">
                <div style="position: relative; left: 19px;" class="tri">
                    <button type="button" class=" btn btn-primary btnn" data-dismiss="modal">Confirm</button>
                    <div class="triangle triangle-0"></div>
                </div>
                <div style="position: relative; right: 23px;" class="tri">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-triangle" data-dismiss="modal" (click)="reset()">Close</button></div>
            </div>
        </div>
    </div>
</div>