<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Experts</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link"
                                                        routerLink="/expert">Experts
                                                        list</a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">View
                                                        expert</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- <div class="col-3 d-flex justify-content-end">

                                    <button class="btn btn-primary btn-export"><i class="fa fa-download"
                                            aria-hidden="true"></i> &nbsp; Export</button>

                                </div> -->
                            </div>



                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">

                <div class="card">

                    <div class="card-body">
                        <form [formGroup]="expertForm">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row">
                                        <label class="col-md-5 text-bold">Expert Type</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <!-- <span class="col-md-6">{{data?.kycId || '---'}}</span> -->
                                        <span class="col-md-6">
                                            <select name="" class="form-control form-control_custom form-select" disabled
                                                formControlName="expertType" >
                                                <option value="">Select Expert Type</option>
                                                <option value="COMPANY">Company</option>
                                                <option value="INDIVIDUAL">Individual</option>
                                            </select>

                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">First Name</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <!-- <span class="col-md-6">{{data?.kycId || '---'}}</span> -->
                                        <span class="col-md-6">
                                            <input type="text" name="" class="form-control form-control_custom"
                                                placeholder="First Name" readonly formControlName="firstname" >
                                                <i *ngIf="expertForm.get('expertType').value=='COMPANY'"
                                                class="fa fa-ban" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Last Name</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <!-- <span class="col-md-6">{{data?.kycId || '---'}}</span> -->
                                        <span class="col-md-6">
                                            <input type="text" name="" class="form-control form-control_custom"
                                                placeholder="Last Name" readonly formControlName="lastname" >
                                                <i *ngIf="expertForm.get('expertType').value=='COMPANY'"
                                                class="fa fa-ban" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Company Name</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <!-- <span class="col-md-6">{{data?.kycId || '---'}}</span> -->
                                        <span class="col-md-6 ">
                                            <input type="text" name="" class="form-control form-control_custom"
                                                placeholder="Company Name" readonly formControlName="companyName" >
                                                <i *ngIf="expertForm.get('expertType').value=='INDIVIDUAL'"
                                                class="fa fa-ban" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Phone Number</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6">
                                             <input type="text" aria-label="Country" readonly class="form-control form-control_custom d-inline country col-md-4 col-lg-3 text-center" [formControl]="myControl" maxlength="7" (keypress)="common.numberOnly($event)"
                                            [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option class="d-flex justity-content-space-between" *ngFor="let option of filteredOptions | async" [value]="option.code">
                                                <span>{{option.name}}</span><span>{{option.code}}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                            <input type="text" name="" readonly class="form-control d-inline col-md-8 col-lg-9 number  form-control_custom"
                                            placeholder="Phone Number" autocomplete="false" maxlength="10"
                                            (keypress)="common.numberOnly($event)" formControlName="mobileNumber"
                                            >
                                        <div class="text-danger"
                                            *ngIf="expertForm.get('mobileNumber').invalid && (expertForm.get('mobileNumber').dirty || expertForm.get('mobileNumber').touched)">
                                            <span
                                                *ngIf="expertForm.get('mobileNumber').hasError('required')">*Please
                                                enter phone number.</span>
                               
                                        </div>
                                        </span>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row  mt-1">
                                        <label class="col-md-5 text-bold">Email</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <!-- <span class="col-md-6">{{data?.kycId || '---'}}</span> -->
                                        <span class="col-md-6">
                                            <input type="text" name="" class="form-control form-control_custom"
                                                placeholder="Email" readonly formControlName="email" >
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">NRC No.</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6 ">
                                            <input type="text" name="" class="form-control form-control_custom" readonly placeholder="NRC No."
                                                formControlName="NRC_Number" >
                                                <i *ngIf="expertForm.get('expertType').value=='COMPANY'"
                                                class="fa fa-ban" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Username</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6 ">
                                            <input type="text" name="" class="form-control form-control_custom"
                                                placeholder="Username" readonly formControlName="username" >
                                 
                                        </span>
                                    </div>
                                </div>
                  

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Company Registration Number</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6">
                                            <input type="text" name="" class="form-control form-control_custom" readonly
                                                placeholder="Company registration number"
                                                formControlName="registrationNumber" >
                                                <i *ngIf="expertForm.get('expertType').value=='INDIVIDUAL'"
                                                class="fa fa-ban" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Address</label>
                                        <span class="d-sm-none d-xsm-none d-md-block " style="width: 10px;">:</span>
                                        <span class="col-md-6">
                                            <input type="text" name="" class="form-control form-control_custom"
                                                placeholder="Address" readonly formControlName="address" >
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">

                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Trade</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6">
                                            <ng-multiselect-dropdown [placeholder]="'Select Trade'"
                                                formControlName="trade" readonly [disabled]="isDropdownDisabled" [settings]="dropdownSettings"
                                                [data]="serviceList" (onSelect)="onItemSelect($event)"
                                                (onSelectAll)="onSelectAll($event)" aria-disabled="true">
                                            </ng-multiselect-dropdown>
                                            <!-- <p *ngFor = "let item of trades">{{item}}</p> -->
                                        </span>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row  mt-1">
                                        <label class="col-md-5 text-bold">Status</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6">
                                            <select name="" class="form-control form-control_custom form-select"
                                                formControlName="status" >
                                                <option value="">Select Status</option>
                                                <option value="ACTIVE"   >Active</option>
                                                <option value="INACTIVE" >Inactive</option>
                                            </select>
                                        </span>
                                    </div>
                                </div> -->
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row  mt-1">
                                        <label class="col-md-5 text-bold">Commision</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6" style="display: flex;">
                                            <label class="switch" style="margin: 0px 8px 5px 0px;">
                                                <input type="checkbox"
                                                    [checked]="expertForm.get('commissionPercent').value>0">
                                                <span class="slider round"></span>
                                            </label>
                                            <input type="text" style="width: 80%;" name="" maxlength="2" readonly
                                                formControlName="commissionPercent" autocomplete="new-password"
                                                class="form-control form-control_custom" placeholder="0%" >
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row  mt-1">
                                        <label class="col-md-5 text-bold">Upload Document </label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6 mt-2">
                                            <!-- <img [src]="verificationImage" class="img-fluid" alt="" style="max-width: 150px;"> -->
                                            <a [href]="verificationImage" target="_blank" rel="noopener noreferrer" style=" white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis ; display:flex">
                                                {{verificationImage}}
                                            </a>
                                        </span>
                                    </div>
                                </div>

                               
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Status</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6">
                                            <select class="form-control form-control_custom" disabled  formControlName="status">
                                                <option value="ACTIVE">Active</option>
                                                <option value="BLOCK">Inactive</option>
                                            </select>
                                          
                                         
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Completed Jobs</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6">
                                            <input type="text" disabled  class="form-control form-control_custom"
                                                placeholder="Completed Jobs" [value]="getExpertView?.completedDeliveries || 0" autocomplete="false"
                                                >
                                           
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row mt-1">
                                        <label class="col-md-5 text-bold">Avg. Rating</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-6 ">
                                         
                                            <div class="d-flex" *ngIf="getExpertView?.rating > 0">
                                                <i class="fa fa-star" *ngFor="let item of counter(getExpertView?.rating)"  style="color: rgba(2, 133, 255, 0.815);"></i>

                                            </div>
                                            <div *ngIf="getExpertView?.rating == 0">
                                                <i class="fa fa-star" ></i>

                                            </div>
                                        </span>
                                    </div>
                                </div>



                            </div>
                        </form>

                        <div class="text-center mt-5 mb40">

                            <button class="btn btn-large  max-WT-150 ml-1 btn-secondary"
                                routerLink="/expert">Back</button>


                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
</div>