<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title top-head-data-detail">Service Area Indices</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb top-head-data-detail">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">Service Area Indices
                                                    </a></li>
                                                <!-- <li class="breadcrumb-item"><a routerLink="/services" class="breadcrumb-link">List Vehicle Type</a>
                                                </li> -->

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- <div class="col-3 d-flex justify-content-end">

                                    <button class="btn btn-primary btn-export"><i class="fa fa-download"
                                            aria-hidden="true"></i> &nbsp; Export</button>

                                </div> -->
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="row mt-2">
            <div class="col-md-4 col-sm-6" *ngFor="let data of AgentHeader;let i=index"> -->
        <!-- <div class="card"> -->
        <!-- <div class="card-body" [ngClass]="data?.backgroundColor"> -->

        <!-- <div class="row">

                            <div class="col-2">
                                <i [class]="data?.icon+' '+'header-icons'"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font">4</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">{{data?.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div>
        </div> -->
        <div class="content-section">
            <div class="outer-box">
                <!-- <div class="row p-3 justify-content-between"> -->
                <!-- <div class="ml-2">
                        <select name="" class="form-select" >
                            <option value="">Bulk Action</option>
                            <option value="">Delete</option>
                            <option value="">Block</option>
                            <option value="">Active</option>
                        </select> &nbsp; <button class="" style="border: 1px solid #00000040;">Apply</button>
                    </div> -->
                <!-- <div class="pl-1"> -->
                <!-- <button class="btn btn-primary btn-export">Add Vehicle</button> -->
                <!-- </div>
                    <div class="col-3 d-flex justify-content-end">

                        <button class="btn btn-primary btn-export"> Add Vehicle</button>

                    </div> -->

                <!-- </div> -->
                <div class="global-table no-radius p0">
                    <div class="tab-content1" id="htmlData">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <!-- <th scope="col"><input type="checkbox" name="" ></th> -->
                                        <th scope="col">Service Indices Fee</th>
                                        <!-- <th scope="col">Base Rate</th>
                                        <th scope="col">Image</th> -->
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <th scope="row"><input type="checkbox" name="" ></th> -->
                                        <!-- <td>
                                            <input type="text" disabled="disabled" />
                                        </td> -->
                                        <td>Delivery Fee</td>


                                        <!-- <td>
                                            <div class="illustration">
                                                <img [src]="item?.hub_logo" class="img-fluid" alt="Responsive image">
                                            </div>
                                        </td> -->
                                        <td class="d-flex">
                                            <!-- <span class="col-md-2">
                                                <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                            </label>
                                            </span> -->
                                            <!-- <button class="btn btn-success" title="View">
                                                View
                                            </button> -->
                                            <!-- <button class="btn btn-secondary ml-2" title="edit" (click)="disableEnableInput()"> -->
                                            <button class="btn btn-secondary ml-2" title="Edit" routerLink="/setting/fee-management">

                                                Edit
                                            </button>
                                            <!-- <button class="btn btn-danger ml-2" title="View" (click)="openDeleteModal()">
                                                Delete
                                            </button> -->

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cancellation Fee</td>
                                        <td class="d-flex">
                                            <button class="btn btn-secondary ml-2" title="Edit" routerLink="/setting/fee-management">
                                                Edit
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Service Fee</td>
                                        <td class="d-flex">
                                            <button class="btn btn-secondary ml-2" title="Edit" routerLink="/setting/fee-management">
                                                Edit
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="w-100 text-right mt-1">
                            <div class="pull-right">
                                <strong class="pl-2">Show</strong>&nbsp;
                                <select name="" class="form-select mr-1"  style="width: 4em;">
                                    <option value="">10</option>
                                    <option value="">15</option>
                                    <option value="">20</option>
                                    <option value="">25</option>
                                </select>
                                <strong class="ml-1 mr-1">entites</strong>
                            </div>

                        </div>
                        <div class="custom-pagination w-100 mt-2 pb-2">
                            <div class="text-right">
                                <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
                            </div>

                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade blur-background" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Vehicle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You're about to delete this vehicle. Please confirm to proceed.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirm</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>