<div class="wrapper">
    <div class="container-fluid dashboard-content">
  
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title ">Categories</h2>

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb ">
                                                <li class="breadcrumb-item"><em class="fa fa-home"></em></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/category">Categories
                                                    </a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/category">Categories
                                                        List</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-end">

                                    <button class="btn btn-primary btn-export" (click)="exportAsXLSX()"><i
                                            class="fa fa-download" aria-hidden="true"></i> &nbsp; Export To
                                        Excel</button>

                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-4">
                <div class="card" (click)="filterStatus('ALL')">
                    <div class="card-body card_custom" style="background-color: rgb(25,160,137);">
                        <div class="row">
                            <div class="col-2">
                                <em class="fa fa-bars header-icons"></em>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{category?.totalCategory || 0}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card" (click)="filterStatus('SERVICE')">
                    <div class="card-body bg-light-green card_custom">
                        <div class="row">
                            <div class="col-2">
                                <em class="fa fa-star header-icons"></em>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{category?.serviceCategory || 0}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">Service</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card" (click)="filterStatus('MATERIAL')">
                    <div class="card-body card_custom" style="background-color: rgb(183,61,186);">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-th-large header-icons" aria-hidden="true"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{category?.productCategory || 0}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">Material</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="content-section">
            <div class="outer-box">
                <div class="row p-3 justify-content-between">
                    <div class="col-lg-5 ml-2">
                        <div class="row">
                            <div class="col-4">
                                <select [(ngModel)]="action" class="form-control form-select">
                                    <option selected value="0">Bulk Action</option>
                                    <option value="Delete">Delete</option>

                                </select>

                            </div>
                            <div class="col-3">
                                <button class="btn" style="border: 1px solid #00000040;"
                                    (click)="openBulkDeleteModal()">Apply</button>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6  pl-1">
                        <div class="row justify-content-end">
                            <div class="col-3">
                                <input type="text" class="form-control" (keypress)="commonService.preventSpace($event)"
                                    maxlength="60" [(ngModel)]="search" (input)="searchText($event)"
                                    placeholder="Search" name="" style="margin-left: -10px;">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="global-table no-radius p0">
                    <div class="tab-content1" id="htmlData">

                        <div class="table-responsive">
                            <table class="table" aria-describedby="category List">
                                <thead>
                                    <tr>
                                        <th scope="col" *ngIf="listArray.length>0"><input type="checkbox" name=""
                                                [(ngModel)]="selectAll" (input)="addMultipleId($event)"></th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Category Type</th>
                                        <th scope="col">Image</th>

                                        <th scope="col">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listArray | paginate: { 
                                    itemsPerPage: pageSize,
                                    currentPage: currentPage,
                                    totalItems: total};let i=index">
                                        <td ><input type="checkbox" name=""
                                                (input)="addAdminId(item?._id,$event)" [(ngModel)]="checkbox[i]">
                                        </td>
                                        <td>{{item?.categoryName}}</td>
                                        <td>{{item?.categoryType}}</td>
                                        <td><img width="70px" [src]="item?.categoryImage" alt=""></td>
                                        <td class="d-flex">
                                         
                                            <button *ngIf="commonService?.getUserType() && commonService?.getPermission('categoryManagement', 'Edit')"
                                                class="btn btn-secondary ml-2" (click)="navigateEdit(item?._id)"
                                                title="Edit">
                                                Edit
                                            </button>
                                            <button *ngIf="commonService?.getUserType() && commonService?.getPermission('categoryManagement', 'Delete')" class="btn btn-danger ml-2" title="Delete"
                                                (click)="openDeleteModal(item?._id)">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="listArray.length==0">
                                        <td colspan="5" class="text-center">Data not found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="w-100 text-right mt-1" *ngIf="listArray.length>0">
                            <div class="">
                                <strong class="pl-2">Show</strong>&nbsp;
                                <select name="" (change)="addRow($event)" class="form-select mr-1"
                                    style="width: 4em;">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                </select>
                                <strong class="ml-1 mr-1">entites</strong>
                            </div>

                        </div>
                        <div class="custom-pagination w-100 mt-2 pb-2" *ngIf="listArray.length>0">
                            <div class="text-right">
                                <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
</div>

<!-- delete modal -->
<div class="modal fade blur-background" id="deleteModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You're about to delete this category. Please confirm to proceed.
                </p>
            </div>
            <div class="modal-footer footer-padding">
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="deleteAdmin()">Confirm</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class=" btn btn-primary" (click)="deleteAdmin()" data-dismiss="modal">Confirm</button>
                <div class="triangle triangle-0"></div>
                <div style="    position: relative;
                right: 38px;">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade blur-background" id="deletebulkModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You're about to delete these category. Please confirm to proceed.
                </p>
            </div>
            <div class="modal-footer footer-padding">
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="deleteAdmin()">Confirm</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class=" btn btn-primary" (click)="deleteAdmin()" data-dismiss="modal">Confirm</button>
                <div class="triangle triangle-0"></div>
                <div style="    position: relative;
                right: 38px;">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>

            </div>
        </div>
    </div>
</div>