.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    margin: 0px 0 5px 8px;
    vertical-align: middle;
    margin-bottom: 0;
}
.switch input {
    display: none;
}
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked+.slider {
    background-color: #10b359;
}
.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}
.switch input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

switch .slider:after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 21px;
   
}

.country{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.number{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
input[type=file]{
    border: 1px solid #d2d2e4;
    box-shadow: none;
}
.switch .slider{
    background-color: rgb(176,6,35);
}

.fa-ban{
    position: absolute;
    top: 10px;
    right: 25px;
    color: red;
    font-size: 18px;
}
.positon-relative{
    position: relative;
}
.eye-icon{
    position: absolute;
    right: 27px;
    top: 13px;
}