<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Material Orders</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/materials">Material Orders</a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/materials">All</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-end">

                                    <button class="btn btn-primary btn-export" (click)="exportAsXLSX()"><i class="fa fa-download"
                                            aria-hidden="true"></i> &nbsp; Export To Excel</button>

                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="card" (click)="filterStatus('ALL')">
                    <div class="card-body bg-green card_custom">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-bars header-icons"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{dashboard?.all || "0"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="card bg-pink card_custom" (click)="filterStatus('PENDING')">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-tasks header-icons"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{dashboard?.Pending || "0"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font w-space-nowrap">Pending</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="card bg-yellow card_custom">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-hourglass-half header-icons"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{dashboard?.underReview || "0"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">Delivered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="card bg-blue card_custom" (click)="filterStatus('ASSIGNED')">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-star header-icons"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{dashboard?.assigned || "0"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">Assigned</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="card bg-red card_custom" (click)="filterStatus('DISPATCHED')">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-truck header-icons"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{dashboard?.Dispatched || "0"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">Dispatched</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="card card_custom" style="background-color: rgb(66,140,203);" (click)="filterStatus('DELIVERED')">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="far fa-check-square header-icons"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{dashboard?.delivered || "0"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">Delivered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="card card_custom" style="background-color: rgb(63,78,97);" (click)="filterStatus('CANCEL')">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-times header-icons"></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="header-font dashboard-icon-mar">{{dashboard?.cancel || "0"}}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="header-font  w-space-nowrap">Cancelled</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">
                <div class="row p-3 justify-content-between">
                    <div class="col-lg-5 ml-2">
                        <div class="row">
                            <div class="col-4">
                                <select [(ngModel)]="action" class="form-control form-select">
                                    <option selected value="0">Bulk Action</option>
                                    <option value="Delete">Delete</option>
                                    
                                </select>

                            </div>
                            <div class="col-3">
                                <button class="btn" style="border: 1px solid #00000040;" (click)="openBulkDeleteModal()">Apply</button>
                            </div>
                        </div>


                    </div>
                    <div class="pl-1 d-flex">
                        <div class="text-center">
                            <i class="fa fa-filter filter_custom" aria-hidden="true" (click)="openFilterModal()"></i>
                            <p class="flter-para">filter</p>
                        </div>
                        <div class="form-check">
                            <input type="text" class="form-control" (keypress)="commonService.preventSpace($event)" maxlength="60" placeholder="Search" name="" style="margin-left: -10px;" [(ngModel)]="search" (input)="searchText($event)">

                        </div>
                    </div>
                </div>
                <div class="global-table no-radius p0">
                    <div class="tab-content1" id="htmlData">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"><input type="checkbox" name="" [(ngModel)]="selectAll" (input)="addMultipleId($event)"></th>
                                        <th scope="col">Order ID</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Delivery Agent</th>
                                        <!-- <th scope="col">Area</th>
                                        <th scope="col">Google Location</th> -->
                                        <th scope="col">Total <i (click)="sorting()" class="fas fa-long-arrow-alt-down  ml-2"></i><i (click)="sorting()" class="fas fa-long-arrow-alt-up"></i></th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listArray | paginate: { 
                                    itemsPerPage: pageSize,
                                    currentPage: currentPage,
                                    totalItems: total}; let i = index">
                                        <th scope="row"><input type="checkbox" name="" (input)="addAdminId(item?._id,$event)" [(ngModel)]="checkbox[i]"></th>
                                        <td>{{item?.orderId}}</td>
                                        <td>{{item?.createdAt | date:'medium'}}</td>
                                        <td>{{item?.clientId?.firstName || '-'}} {{item?.clientId?.surName || '-'}}</td>
                                        <td>{{item?.agent_Expert_Id?.firstName || '-'}} {{item?.agent_Expert_Id?.surName || '-'}}</td>

                                        <td>k {{item?.total}}</td>
                                        <td>{{item?.orderStatus | titlecase}}</td>

                                        <td class="d-flex"><button *ngIf="commonService?.getUserType() && commonService?.getPermission('materialOrderManagement', 'View')" class="btn btn-success" routerLink="/materials/view-material-order" [queryParams]="{id :item?._id}"
                                                title="View">
                                                View
                                            </button>
                                            <button *ngIf="commonService?.getUserType() && commonService?.getPermission('materialOrderManagement', 'Delete')" class="btn btn-danger ml-2" title="Delete" (click)="openDeleteModal(item?._id)">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="listArray?.length==0">
                                        <td colspan="9" class="text-center">Data not found</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="w-100 text-right mt-1" *ngIf="listArray?.length>0">
                            <div class="">
                                <strong class="pl-2">Show</strong>&nbsp;
                                <select name="" class="form-select mr-1" style="width: 4em;" (change)="addRow($event)">
                                    <option value="5">5</option>
                                   
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                </select>
                                <strong class="ml-1 mr-1">entites</strong>
                            </div>

                        </div>
                        <div class="custom-pagination w-100 mt-2 pb-2" *ngIf="listArray?.length>0">
                            <div class="text-right">
                                <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>

<!-- delete modal -->
<div class="modal fade blur-background" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Advert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You're about to delete this material order. Please confirm to proceed.
                </p>
            </div>
            <div class="modal-footer justify-content-center" style="padding: 5px;">
                <div style="position: relative; left: 19px;" class="tri">
                    <button type="button" class=" btn btn-primary btnn" data-dismiss="modal" (click)="deleteAdmin()">Confirm</button>
                    <div class="triangle triangle-0"></div>
                </div>
                <div style="position: relative; right: 23px;" class="tri">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>

<!-- delete in bulk modal -->
<div class="modal fade blur-background" id="deletebulkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Material Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You're about to delete these material order. Please confirm to proceed.
                </p>
            </div>
            <div class="modal-footer justify-content-center" style="padding: 5px;">
                <div style="position: relative; left: 19px;" class="tri">
                    <button type="button" class=" btn btn-primary btnn" data-dismiss="modal" (click)="deleteAdmin()">Confirm</button>
                    <div class="triangle triangle-0"></div>
                </div>
                <div style="position: relative; right: 23px;" class="tri">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>


<!-- filter modal -->
<div class="modal fade blur-background" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered filte_mod_wi" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Filter Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <!-- <div class="d-flex justify-content-space-between mb-2">
                    <label for="" class="col-md-3">Category</label><span class="col-md-1">:</span>
                    <select name="" class="form-control form-select col-md-7"  (change)="selectCategory($event)">
                        <option value="">Select Category </option>
                        <option value="{{item?._id}}"  *ngFor="let item of categories">{{item?.categoryName}}</option>
                    </select>
                </div> -->
                <!-- <div class="d-flex justify-content-space-between mb-2">
                    <label for="" class="col-md-3">Stock Status</label><span class="col-md-1">:</span>
                    <select name="" class="form-control form-select col-md-7" >
                        <option value="">Select Category </option>
                        <option value="ADEQUATE">ADEQUATE</option>
                    </select>
                </div> -->

                <div class="">
                    <div class="row mb-1 mt-2">
                        <label for="" class="col-md-2">Date</label><span class="">:</span>
                        <div class="col-md-10 row">
                            <input type="text" [(ngModel)]="fromDate" class="form-control d-inline col-md-6" placeholder="From" onfocus="(this.type='date')" onblur="(this.type = 'text')">
                            <input type="text" [(ngModel)]="toDate" [readonly]="!fromDate" [min]="fromDate" placeholder="To" class="form-control d-inline col-md-6" onfocus="(this.type='date')" onblur="(this.type = 'text')">
                        </div>
                    </div>
                    <div class="row mb-1 mt-2">
                        <label for="" class="col-md-2">Delivery Agent</label><span class="">:</span>
                        <select name="" class="form-control form-select col-md-6 d-inline" (change)="getAgentId($event)">
                            <option >Select Agent</option>
                            <option [value]="item?._id" *ngFor="let item of agentLists">{{item?.firstName}} {{item?.surName}}</option>
                        </select>
                    </div>
                    <div class="row mb-1 mt-3">
                        <label for="" class="col-md-2">Amount</label><span class="">:</span>
                        <!-- <input type="range" name="" min="1" max="9999999" id="" class="form-control col-md-6" [(ngModel)]="amount"> -->
                        <div class="w-75">
                            <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                        </div>
                    </div>
                    <!-- <div class="ui-rangeslider" data-role="rangeslider">
                        <label for="range-1a">Rangeslidergh:</label>
                        <input type="range"  name="range-1a" id="range-1a" min="0" max="100" value="40"
                         data-popup-enabled="true" data-show-value="true" style="transform: rotate(180deg);">
                       
                        <input type="range" name="range-1b" id="range-1b" min="0" max="100" value="80" data-popup-enabled="true" data-show-value="true">
                    </div> -->
                    <!-- <div>
                        <p>K{{amount}}</p>
                    </div> -->
                </div>

                <div class="modal-footer footer-padding">
                    <button type="button" class="btn btn-success col-md-12" data-dismiss="modal" (click)="filterList()">Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>