<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title top-head-data-detail">Reward Amount</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb top-head-data-detail">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">Reward Amount
                                                        </a></li>
                                                <!-- <li class="breadcrumb-item"><a routerLink="/services/add-service"class="breadcrumb-link">Add service</a>
                                                </li> -->

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">

                <div class="card">

                    <div class="card-body">
                        <form action="" [formGroup]="symbolForm">
                            <div class="row">


                                <div class="col-lg-12 col-md-12 col-sm-12">
                                

                                    <div class="row mt-1">
                                        <label class="col-md-4 text-bold">Referee Reward Amount</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-5">
                                          <input type="text" placeholder="Referee Reward Amount" class="form-control form-control_custom" formControlName="refere" (keypress)="commonService.numberOnly($event)">
                                        </span>
                                    </div>
                                    <div class="row mt-1">
                                        <label class="col-md-4 text-bold">Referral Reward Amount</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-5">
                                          <input type="text" placeholder="Referral Reward Amount" class="form-control form-control_custom" formControlName="referal" (keypress)="commonService.numberOnly($event)">
                                        </span>
                                    </div>

                                    <div class="row mt-1">
                                        <label class="col-md-4 text-bold">Referral Meassage</label>
                                        <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                        <span class="col-md-5">
                                            <textarea name="" id="" class="form-control form-control_custom" formControlName="message" cols="30" rows="10"></textarea>
                                          <!-- <input type="text" placeholder="Enter Reward Amount" class="form-control form-control_custom" formControlName="symbol" (keypress)="commonService.numberOnly($event)"> -->
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="text-center mt-5 mb40">

                                <button *ngIf="commonService?.getUserType() && commonService?.getPermission('settings', 'Edit')" class="btn btn-large  max-WT-150 ml-1 btn-primary" (click)="setAmount()">Submit</button>

                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>





    </div>
</div>