<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Earnings</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link"  routerLink="/earnings">Earnings
                                                        </a></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">View earnings</a>
                                                </li>

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">

                <div class="card row">

                    <div class="card-body col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-md-6 text-bold">Order Id</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                      <p>LGM-004</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <label class="col-md-6 text-bold">Order Date</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                      <p>02/03/2021 06:03 AM</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-6 text-bold">Expert Fee</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                        <p>k 520</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-6 text-bold">Total</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                        <p>k 2,000</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-6 text-bold">Delivery Fee</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5 ">
                                        <p>k 50</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-6 text-bold">Material Amount</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5 ">
                                        <p>k 570</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-6 text-bold">Cancellation Fee</label>
                                    <span class="d-sm-none d-xsm-none d-md-block" style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                       <p>k 20</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-6 text-bold">Admin Earning</label>
                                    <span class="d-sm-none d-xsm-none d-md-block " style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                        <p>k 625</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-6 text-bold">Payment Status</label>
                                    <span class="d-sm-none d-xsm-none d-md-block " style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                       <p>Paid</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row mt-1">
                                    <label class="col-md-6 text-bold">Settelment Status</label>
                                    <span class="d-sm-none d-xsm-none d-md-block " style="width: 10px;">:</span>
                                    <!-- <span class="col-md-5">{{data?.kycId || '---'}}</span> -->
                                    <span class="col-md-5">
                                        <p>Setteled</p>
                                    </span>
                                </div>
                            </div>





                        </div>

                        <div class="text-center mt-5 mb40">

                            <button class="btn btn-large  max-WT-150 ml-1 btn-secondary" routerLink="/earnings">Back</button>


                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
</div>