<div class="wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title top-head-data-detail">Slider Images</h2>
                    <!-- <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p> -->

                    <div class="card">
                        <div class="card-header p-0">
                            <div class="row">
                                <div class="col-9">
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb top-head-data-detail">
                                                <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                                                <li class="breadcrumb-item"><a class="breadcrumb-link">Slider Images
                                                    </a></li>
                                                <!-- <li class="breadcrumb-item"><a routerLink="/services"
                                                        class="breadcrumb-link">Services</a>
                                                </li> -->

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- <div class="col-3 d-flex justify-content-end">

                                    <button class="btn btn-primary btn-export"><i class="fa fa-download"
                                            aria-hidden="true"></i> &nbsp; Export</button>

                                </div> -->
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="outer-box">
                <div class="row p-3 justify-content-between">
                    <div class="col-md-4 ml-2">
                        <div class="row">
                            <div class="col-md-8">
                                <select [(ngModel)]="action" class="form-control form-select">
                                    <option selected value="0">Bulk Action</option>
                                    <option value="Delete">Delete</option>
                                    
                                </select>

                            </div>
                            <div class="col-4">
                                <button *ngIf="commonService?.getUserType() && commonService?.getPermission('settings', 'Delete')" class="btn" style="border: 1px solid #00000040;" (click)="openBulkDeleteModal()">Apply</button>
                            </div>


                        </div>


                    </div>
                    <div class="col-md-4 d-flex justify-content-end">

                        <button *ngIf="commonService?.getUserType() && commonService?.getPermission('settings', 'Add')" class="btn btn-primary btn-export" routerLink="/setting/add-slider"> Add Image</button>

                    </div>
                    <!-- <div class="pl-1 d-flex"> -->
                    <!-- <div class="mt-1">
                            <i class="fa fa-filter " aria-hidden="true"></i>
                        </div> -->
                    <!-- <div class="form-check">
                            <input type="text" class="form-control" (keypress)="commonService.preventSpace($event)" placeholder="Search by brand name" name=""  style="margin-left: -10px;" [(ngModel)]="search" (input)="searchText($event)">

                        </div> -->
                    <!-- </div> -->
                </div>
                <div class="global-table no-radius p0">
                    <div class="tab-content1" id="htmlData">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" *ngIf="listArray.length>0"><input type="checkbox" name="" [(ngModel)]="selectAll" (input)="addMultipleId($event)"></th>

                                        <th scope="col">Screen Image</th>
                                        <th scope="col">Screen Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listArray | paginate: { 
                                    itemsPerPage: pageSize,
                                    currentPage: currentPage,
                                    totalItems: total};let i = index">
                                        <th scope="row"><input type="checkbox" (input)="addAdminId(item?._id,$event)" [(ngModel)]="checkbox[i]"></th>

                                        <td>
                                            <div class="illustration">
                                                <img [src]="item?.bannerImage" class="img-fluid" alt="Responsive image">
                                            </div>
                                        </td>
                                        <td>{{item?.bannerName}}</td>
                                        <td>{{item?.status | titlecase}}</td>
                                        <td class="d-flex">
                                            <!-- <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label> -->
                                            <!-- <button class="btn btn-success  ml-2" routerLink="/services/view-service"
                                                title="View">
                                                View
                                            </button> -->
                                            <button class="btn btn-success" title="Unblock" (click)="activeBlock(item?._id)" *ngIf="item?.status=='BLOCKED'">
                                                Unblock
                                             </button>
                                            <button class="btn btn-danger ml-2" title="Block" (click)="activeBlock(item?._id)" *ngIf="item?.status=='ACTIVE'">
                                                 Block
                                              </button>
                                            <button *ngIf="commonService?.getUserType() && commonService?.getPermission('settings', 'Edit')" class="btn btn-secondary ml-2" title="Edit" (click)="editBanner(item?._id)">
                                                Edit
                                            </button>
                                            <button *ngIf="commonService?.getUserType() && commonService?.getPermission('settings', 'Delete')" class="btn btn-danger ml-2" title="Delete" (click)="openDeleteModal(item?._id)">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!listArray.length">
                                        <td colspan="8" class="text-center">Data not found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="w-100 text-right mt-2" *ngIf="listArray.length">
                            <div class="">
                                <strong class="pl-2">Show</strong>&nbsp;
                                <select name="" (change)="addRow($event)" class="form-select mr-1" style="width: 4em;">
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                </select>
                                <strong class="ml-1 mr-1">entites</strong>
                            </div>

                        </div>
                        <div class="custom-pagination w-100 mt-2 pb-2" *ngIf="listArray.length">
                            <div class="text-right">
                                <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade blur-background" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Slider</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You're about to delete this slider. Please confirm to proceed.
                </p>
            </div>
            <div class="modal-footer footer-padding">
                <!-- <button type="button" class="btn btn-primary" (click)="deleteService()" data-dismiss="modal">Confirm</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class=" btn btn-primary" (click)="deleteService()">Confirm</button>
                <div class="triangle triangle-0"></div>
                <div style="    position: relative;
                right: 38px;">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>

<!-- delete in bulk modal -->
<div class="modal fade blur-background" id="deletebulkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Sliders.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You're about to delete these sliders. Please confirm to proceed.
                </p>
            </div>
            <div class="modal-footer footer-padding">
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteService()">Confirm</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class=" btn btn-primary" (click)="deleteService()">Confirm</button>
                <div class="triangle triangle-0"></div>
                <div style="    position: relative;
                right: 38px;">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>



<!-- block-unblock modal -->
<div class="modal fade blur-background" id="BlockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Block slide</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You're about to block this slide. Please confirm to proceed.
                </p>
            </div>
            <div class="modal-footer footer-padding">
                <!-- <button type="button" class="btn btn-primary" (click)="blockvehicle()" data-dismiss="modal">Confirm</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class=" btn btn-primary" (click)="blockvehicle()" data-dismiss="modal">Confirm</button>
                <div class="triangle triangle-0"></div>
                <div style="    position: relative;
                right: 38px;">
                    <div class="triangle triangle-1"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>

            </div>
        </div>
    </div>
</div>